* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.logo {
  font-size: 4rem;
  font-family: 'Amatic SC', cursive;
  margin-left: .5rem;
  display: flex;
  margin-right: auto; }

.nav {
  display: flex;
  list-style: none; }
  .nav__item {
    padding: 0 2rem;
    font-size: 1.5rem; }
  .nav__link {
    text-decoration: none;
    color: #333;
    font-weight: 500; }
    .nav__link:hover {
      color: #E39F5A; }

.social {
  display: flex;
  padding-left: 3rem; }
  .social__icon-box {
    position: relative;
    padding: 0 .5rem; }
  .social__icon {
    width: 2.25rem;
    height: 2.25rem;
    transition: all .1s; }
    .social__icon:hover {
      transform: rotate(20deg); }
  .social--footer {
    padding-left: 0;
    padding-top: 3rem;
    margin-left: -.5rem; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 1150px;
  margin: auto;
  height: 85vh; }
  .hero__text {
    font-size: 6.5rem;
    font-weight: 900;
    margin-right: -12rem;
    position: relative;
    z-index: 10; }
  .hero__btn {
    margin-top: 4rem;
    padding: 2rem;
    border: none;
    border-radius: 2px;
    background-color: #94DFD3;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    animation: shadow-pulse 1s infinite ease-out; }
    .hero__btn:focus {
      outline: none; }
  .hero__img {
    width: 150%;
    height: 90%;
    background-image: url("/img/hero-van.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1; }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px #bdebe3; }
  100% {
    box-shadow: 0 0 0 1.2rem rgba(0, 0, 0, 0); } }

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem; }
  .details__img {
    width: 90%;
    height: 90%;
    background-image: url("/img/details-landscape.jpg");
    background-size: cover;
    background-position: top; }
  .details__text {
    padding-left: 4rem;
    width: 100%; }
  .details__title {
    font-size: 2.5rem;
    padding-bottom: 2rem; }
  .details__paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem; }
    .details__paragraph:not(:last-child) {
      padding: 2rem 0; }

.cards__title {
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem 0 7rem 0; }

.cards__box {
  display: flex;
  justify-content: center;
  align-items: center; }

.cards__card {
  width: 28rem;
  padding-bottom: 4rem;
  border-radius: 2px;
  box-shadow: 0 7px 15px 0 #efefef;
  cursor: pointer;
  overflow: hidden;
  transition: all .2s; }
  .cards__card:not(:last-child) {
    margin-right: 6rem; }
  .cards__card:hover {
    transform: scale(1.05); }

.cards__heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 3rem 0 2rem 0; }

.cards__list {
  text-align: center;
  list-style-type: none; }

.cards__list-item {
  font-size: 1.5rem;
  line-height: 2.5rem; }

.cards__img {
  background-size: cover;
  height: 18rem;
  background-blend-mode: screen; }
  .cards__img--1 {
    background-image: url("/img/vantype.jpg");
    background-color: rgba(148, 223, 210, 0.9); }
  .cards__img--2 {
    background-image: url("/img/vantype-2.jpg");
    background-color: rgba(227, 159, 90, 0.9); }
  .cards__img--3 {
    background-image: url("/img/vantype-3.jpg");
    background-color: rgba(221, 222, 102, 0.9); }

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0; }
  .testimonials__img {
    background-image: url("/img/testimonial-img.jpg");
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-right: 5rem;
    flex: 0 0 auto; }
  .testimonials__testimonial {
    padding: 0 5rem; }
  .testimonials__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem; }
  .testimonials__name {
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 2rem; }

.subscribe {
  display: flex;
  flex-direction: column;
  padding-left: 20rem; }
  .subscribe__header {
    font-size: 1.5rem;
    padding-bottom: 2rem; }
  .subscribe__input {
    border: none;
    border-bottom: solid 2px #333;
    background-color: #F6F6F6;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    padding: 1rem 0;
    font-style: italic;
    min-width: 20rem; }
    .subscribe__input:focus {
      outline: none; }
  .subscribe__btn {
    width: 30%;
    padding: 1rem;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #333;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2rem; }
    .subscribe__btn:hover {
      background-color: #94DFD3; }

.footer {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 10rem 5rem; }
  .footer__main-nav {
    padding-right: 6rem; }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    padding: .5rem 0;
    font-size: 1.2rem; }
  .footer__link {
    text-decoration: none;
    color: #333; }
    .footer__link:hover {
      color: #94DFD3; }

.header {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 4rem 0 2rem 0;
  width: 85%;
  max-width: 1250px; }

/*.content {
    margin: 0 14rem;
}*/
.section {
  width: 85%;
  max-width: 1000px;
  margin: 12rem auto; }
