// SASS VARIABLES
$color-primary: #94DFD3;
$color-secondary: #E39F5A;
$color-tertiary: #DDDE66;

$color-text: #333;

$font-primary: 'Montserrat', sans-serif;

// RESETS
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: $font-primary;
    font-weight: 400;
}