// HEADER
.header {
    display: flex;
    align-items: center;
    padding: 4rem 7.5rem 2rem 7.5rem;
}

// MAIN CONTENT
.content {
    margin: 0 14rem;
}

// SECTION
.section {
    margin: 8rem 5rem;
}