// HEADER
.header {
    display: flex;
    align-items: center;
    //padding: 4rem 7.5rem 2rem 7.5rem;
    margin: auto;
    padding: 4rem 0 2rem 0;
    width: 85%;
    max-width: 1250px;
}

// MAIN CONTENT
/*.content {
    margin: 0 14rem;
}*/

// SECTION
.section {
    width: 85%;
    max-width: 1000px;
    margin: 12rem auto;
}